<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/angular4css")

</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/polifills")
    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/app")
</body>
</html>
